<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') %>
    <title>Admin</title>
</head>
<body class="bg-dark text-light">
    <%- include('./partials/nav') %>
    Hello this is admin page

      <%- include('./partials/scripts') %>
</body>
</html>